@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Roboto+Mono:ital,wght@0,400;1,700&display=swap');
/* font-family: 'Gloock', serif;
font-family: 'Roboto Mono', monospace; */
:root{
  --white: #FFFFFF;
  --red: #BF0D3E;
  --navy: #00205B;
  --blue: #5683B9;
  --black: #232227;
}

html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;

}

button {
  margin: 0 auto;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: 1px;
  background-color: var(--navy);
  color: white;
  border: none;
  border-radius:3px;
  padding: 10px 0;
  width: 350px;
  font-size: 18px;
}


button:focus {
  outline: none;
  box-shadow: none;
}

body{
  background-color: var(--blue);
}

h1{
  font-family: 'Gloock', serif;
  letter-spacing: 2px;
  color: var(--white);
}

h2{
  font-family: 'Roboto Mono', monospace;
  font-size: 14px;
  letter-spacing: .5px;
  line-height: 20px;
  color: var(--white);
  text-indent: 15px;
}

a{
  color: var(--white);
}

.highlight{
  background-color: var(--red);
  padding: 0 2px;
}

.italisize{
  font-style: italic;
  font-weight: 700;
}

.color{
  color: var(--red);
}

.callout{
  border-radius: 3px;
  background-color: white;
  color: var(--navy);
  text-align: center;
  width: 90%;
  padding: 10px;
  margin: 10px auto;
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 16px;
}

.callout a{
  color: var(--navy);
}

#intro{
  min-height: 100vh;
  margin: auto;
  width: 90%;
  max-width: 800px;
  display: flex;  
  align-items: center;
  flex-direction: column;
}

#logo{
  max-width: 500px;
  width: 75%;
  margin: 10px auto; 
}

.cta-symbols{
  height: 3em;
  width: auto;
}

.cta{
  display: flex;
  align-content: center;
  text-align: center;
}
.cta h2{
  font-size: 20px;
}

#gz4c{
  text-align:right;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 200px;
  font-size: 10px;
  line-height: 13px;
  text-indent: 0;
}

footer{
  height: 50px;
}

@media screen and (max-width: 810px) {
#gz4c{
  text-align:center;
  position: relative;
  width: 100%;
}
}